PORT=3000

# Database
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DB_NAME"

# WhatsApp Agent Config
META_WHATSAPP_TOKEN=""
META_PHONE_NUMBER_ID=""
META_VERIFY_TOKEN="pawanda_verify_123"

# LLM Config
LLM_PROVIDER="gemini" # or "openai"
LLM_API_KEY=""

# Shopify Config
SHOPIFY_STORE_URL=""
SHOPIFY_ACCESS_TOKEN=""
SHOPIFY_API_VERSION="2024-01"
SHOPIFY_WEBHOOK_SECRET=""

# Auth (if needed)
JWT_SECRET="supersecret_jwt_key_123"
